# **Student info & course merging**

This script is to combine the student info and the course count info together.

In [1]:
# Irene

import pandas as pd
import numpy as np

In [2]:
# Irene

student_grade = pd.read_feather('./Allcourses/student_grade.feather')
student_grade.set_index('study_id', inplace=True)
student_grade.drop(columns='district', inplace=True)
student_grade

,ap,cte,de,h,ib,advanced course,GPA,num_course,A,B,C,D,F,I,NC,NP,P,U,W
study_id,,,,,,,,,,,,,,,,,,,
111152,0,0,0,0,0,0,3.250000,8,3,4,1,0,0,0,0,0,0,0,0
111154,0,1,0,0,0,0,2.428571,8,2,1,2,2,0,0,0,0,1,0,0
111158,0,0,0,2,0,2,2.230769,13,2,5,1,3,2,0,0,0,0,0,0
111172,0,0,0,2,0,2,3.823529,17,13,4,0,0,0,0,0,0,0,0,0
111178,0,2,0,0,0,0,0.615385,13,1,1,0,1,10,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2121211414111120,0,0,0,0,0,0,3.250000,12,6,3,3,0,0,0,0,0,0,0,0
2121211618162116,0,0,0,0,0,0,1.714286,14,0,1,8,5,0,0,0,0,0,0,0
2516161611112516,0,0,0,0,0,0,4.000000,7,6,0,0,0,0,0,0,0,1,0,0
2516161611252513,0,0,0,0,0,0,4.000000,8,8,0,0,0,0,0,0,0,0,0,0
2516161613222211,0,0,0,0,0,0,3.500000,10,5,5,0,0,0,0,0,0,0,0,0

In [4]:
# Irene

df = pd.read_csv('./Districts/d_9th.csv', index_col=0, low_memory=False)
df

,grade9year,district,birth_date,gender,ethnicity,ell_indicator,sped_indicator,free_reduced_lunch_indicator,high_school_grad,high_school_studying,...,first_degree,4year,2year,less2year,4year_public,4year_private,2year_public,2year_private,less2year_public,less2year_private
1.111520e+05,2017,1,2002-10-25,F,Hispanic/Latino,0,0,1.0,0,1,...,NaN,0,0,0,0,0,0,0,0,0
1.111540e+05,2015,1,2001-03-20,F,Hispanic/Latino,0,0,0.0,0,0,...,NaN,0,0,0,0,0,0,0,0,0
1.111580e+05,2017,1,2003-03-27,F,Black/African American,0,0,1.0,0,1,...,NaN,0,0,0,0,0,0,0,0,0
1.111720e+05,2016,1,2001-12-11,F,Hispanic/Latino,0,1,0.0,0,0,...,NaN,0,0,0,0,0,0,0,0,0
1.111780e+05,2018,1,2004-05-12,F,Hispanic/Latino,1,0,1.0,0,1,...,NaN,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.526263e+13,2011,5,NaN,F,Hispanic/Latino,0,0,1.0,1,0,...,NaN,1,1,0,1,0,1,0,0,0
1.526263e+13,2011,5,NaN,M,American Indian/Alaskan Native,0,0,1.0,1,0,...,NaN,1,0,0,1,0,0,0,0,0
1.526263e+13,2011,5,NaN,M,White,0,0,0.0,1,0,...,NaN,1,0,0,0,1,0,0,0,0
2.126182e+13,2012,5,1997-11-20,NaN,NaN,0,0,0.0,0,0,...,NaN,0,0,0,0,0,0,0,0,0
1.526262e+15,2012,5,1998-06-28,NaN,NaN,0,0,0.0,0,0,...,NaN,0,0,0,0,0,0,0,0,0

In [5]:
# Irene

student_info = pd.merge(df, student_grade, left_index=True, right_index=True)
student_info

,grade9year,district,birth_date,gender,ethnicity,ell_indicator,sped_indicator,free_reduced_lunch_indicator,high_school_grad,high_school_studying,...,B,C,D,F,I,NC,NP,P,U,W
1.111520e+05,2017,1,2002-10-25,F,Hispanic/Latino,0,0,1.0,0,1,...,4,1,0,0,0,0,0,0,0,0
1.111540e+05,2015,1,2001-03-20,F,Hispanic/Latino,0,0,0.0,0,0,...,1,2,2,0,0,0,0,1,0,0
1.111580e+05,2017,1,2003-03-27,F,Black/African American,0,0,1.0,0,1,...,5,1,3,2,0,0,0,0,0,0
1.111720e+05,2016,1,2001-12-11,F,Hispanic/Latino,0,1,0.0,0,0,...,4,0,0,0,0,0,0,0,0,0
1.111780e+05,2018,1,2004-05-12,F,Hispanic/Latino,1,0,1.0,0,1,...,1,0,1,10,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2.121161e+15,2016,2,02/21/2001,F,White,0,0,0.0,0,1,...,8,3,2,0,0,0,0,0,0,0
2.121212e+15,2016,2,02/20/2001,M,Black/African American,0,0,0.0,0,1,...,1,8,5,0,0,0,0,0,0,0
2.516162e+15,2015,4,2000-06-08,F,White,0,0,NaN,1,0,...,0,0,0,0,0,0,0,1,0,0
2.516162e+15,2015,4,2001-06-16,F,Hispanic/Latino,0,0,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
2.516162e+15,2013,4,1998-05-29,M,White,0,1,NaN,0,0,...,5,0,0,0,0,0,0,0,0,0

In [6]:
# Irene

# drop less2year_public because all the values are 0
student_info.drop(columns='less2year_public', inplace=True)

In [7]:
student_info.columns

Index(['grade9year', 'district', 'birth_date', 'gender', 'ethnicity',
       'ell_indicator', 'sped_indicator', 'free_reduced_lunch_indicator',
       'high_school_grad', 'high_school_studying', 'college_enroll',
       'college_graduate', 'college_studying', 'high_school_code',
       'num_degree', 'highest_degree', 'first_degree', '4year', '2year',
       'less2year', '4year_public', '4year_private', '2year_public',
       '2year_private', 'less2year_private', 'ap', 'cte', 'de', 'h', 'ib',
       'advanced course', 'GPA', 'num_course', 'A', 'B', 'C', 'D', 'F', 'I',
       'NC', 'NP', 'P', 'U', 'W'],
      dtype='object')

In [8]:
# Irene

student_info.to_csv('9th_student_info.csv')

In [9]:
# # Irene

# student_info[student_info['district']==1].copy().dropna(axis=1, how='all').to_csv('9th_student_info_d1.csv', index_label='study_id')
# student_info[student_info['district']==2].copy().dropna(axis=1, how='all').to_csv('9th_student_info_d2.csv', index_label='study_id')
# student_info[student_info['district']==3].copy().dropna(axis=1, how='all').to_csv('9th_student_info_d3.csv', index_label='study_id')
# student_info[student_info['district']==4].copy().dropna(axis=1, how='all').to_csv('9th_student_info_d4.csv', index_label='study_id')
# student_info[student_info['district']==5].copy().dropna(axis=1, how='all').to_csv('9th_student_info_d5.csv', index_label='study_id')